banlist=/data/banlist.txt
journeypermission_biomespread_setfrozen={{getv "/terraria/journeypermission/biomespreadsetfrozen" "1"}}
journeypermission_godmode={{getv "/terraria/journeypermission/godmode" "1"}}
journeypermission_increaseplacementrange={{getv "/terraria/journeypermission/increaseplacementrange" "1"}}
journeypermission_rain_setfrozen={{getv "/terraria/journeypermission/rain/setfrozen" "1"}}
journeypermission_rain_setstrength={{getv "/terraria/journeypermission/rain/setstrength" "1"}}
journeypermission_setdifficulty={{getv "/terraria/journeypermission/setdifficulty" "1"}}
journeypermission_setspawnrate={{getv "/terraria/journeypermission/setspawnrate" "1"}}
journeypermission_time_setdawn={{getv "/terraria/journeypermission/time/setdawn" "1"}}
journeypermission_time_setdusk={{getv "/terraria/journeypermission/time/setdusk" "1"}}
journeypermission_time_setfrozen={{getv "/terraria/journeypermission/time/setfrozen" "1"}}
journeypermission_time_setmidnight={{getv "/terraria/journeypermission/time/setmidnight" "1"}}
journeypermission_time_setnoon={{getv "/terraria/journeypermission/time/setnoon" "1"}}
journeypermission_time_setspeed={{getv "/terraria/journeypermission/time/setspeed" "1"}}
journeypermission_wind_setfrozen={{getv "/terraria/journeypermission/wind/setfrozen" "1"}}
journeypermission_wind_setstrength={{getv "/terraria/journeypermission/wind/setstrength" "1"}}
language={{getv "/terraria/language" "en/US"}}
maxplayers={{getv "/terraria/maxplayers" "16"}}
motd={{getv "/terraria/motd" "Welcome to the server!"}}
npcstream={{getv "/terraria/npcstream" "0"}}
port={{getv "/terraria/port" "7777"}}
priority={{getv "/terraria/priority" "3"}}
secure={{getv "/terraria/secure" "0"}}
upnp={{getv "/terraria/upnp" "0"}}
worldpath=/data/worlds
{{if exists "/terraria/password"}}password={{getv "/terraria/password"}}{{end}}
{{if exists "/terraria/world"}}world=/data/worlds/{{getv "/terraria/world"}}.wld{{end}}
